body{
    background-color: rgb(66, 11, 129);
    display:flex;justify-content: center;align-items: center;
    width:100vw;
    height: 100vh;
    overflow: hidden;
    font-family: arial;
}

.wrapper{
    color:rgb(209, 129, 97);
    text-align: center;
    background-color: rgb(10, 10, 10);
    padding:20px;
    border-radius: 12px;
    letter-spacing: 4px;
}

#seconds,#tens{
    font-size: 2em;
}

button{
    border-radius: 5px;
    background: rgb(39, 86, 214);
    color:black;
    border: solid 2px rgb(27, 27, 27);
    text-decoration: none;
    cursor:pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin:10px;
   

}
button:hover{
    background-color: rgb(17, 0, 255);
    color:white;
}